<div class="panel panel-default">
    <div class="panel-body">
        <h3>
            Now you're <b>on</b>.
        </h3>
        <h4>
            Pick the friend with <b>on</b> badge up from the left bar and start chatting to them right now.
        </h4>
    </div>
</div>
