@{
    ViewBag.Title = "About";
}

@section body
{
    <h2>About</h2>
    <h4><b>R</b>eal <b>T</b>ime <b>C</b>hat</h4>
    <hr />
    <p>
        This conceptually new social network is an awesome place where you can communicate with your friends in a real time without waiting for a new message.
        As soon as your friend types a new word, you get it immidiately.
    </p>
}
